<h2><p>To be externally fit is the ability to physically accomplish all aspects of your tasks <br>
  while avoiding injury and enjoying who you are physically. <br>
  The goal is to be physically fit to so you can prevent <br>
   injury or illness, and so you can have a speedy recovery if you are injured.<br>

  But, physical fitness is more than your body mass index, or how many <br>
  push-ups you can do. To optimize your physical fitness you need strength, flexibility,
  balance, and endurance all working together. <br>
  <br>
  For some, exercise is stress release,
  preventive health, social activity, or even spiritual expression.</p></h2>
<iframe src="https://spark.adobe.com/video/7nCOiB4pSyOA7/embed"  width="960" height="540" frameborder="0" allowfullscreen></iframe>
<div class="col-md-12">
  <h3>Find An Exercise</h3>
  <div class="row">
      <div class="col-md-4">
          <form d="exerciseSearch" action="search" method="get">
              <div class="form-group">
                  <label for="usr">Keywords:</label>
                  <input type="text" class="form-control" id="keyword" name="keyword">
              </div>
              <div class="form-group">
                  <select name="equipment" class="form-control">
                      <option value="">Any Equipment Used</option>
                                                                      <option value="13">Balance Board</option>
                                                                      <option value="15">Balance Pad</option>
                                                                      <option value="9">Bench</option>
                                                                      <option value="11">BOSU</option>
                                                                      <option value="2">Exercise Ball</option>
                                                                      <option value="7">Exercise Mat</option>
                                                                      <option value="4">Exercise Tube or Band</option>
                                                                      <option value="14">Foam Roller</option>
                                                                      <option value="3">Free Weights</option>
                                                                      <option value="5">Medicine Ball</option>
                                                                      <option value="10">None</option>
                                                                      <option value="18">Pilates Ball</option>
                                                                      <option value="16">Pilates Band</option>
                                                                      <option value="17">Pilates Circle</option>
                                                              </select>
              </div>
              <div class="form-group">
                  <select name="muscle" class="form-control">
                      <option value="">Any Muscle Group</option>
                                                                      <option value="23">Abs</option>
                                                                      <option value="22">Abs: Side</option>
                                                                      <option value="2">Back</option>
                                                                      <option value="10">Back: Lower</option>
                                                                      <option value="32">Back: Middle</option>
                                                                      <option value="31">Back: Upper</option>
                                                                      <option value="3">Biceps</option>
                                                                      <option value="8">Buttocks</option>
                                                                      <option value="4">Calves</option>
                                                                      <option value="5">Chest</option>
                                                                      <option value="26">Core</option>
                                                                      <option value="6">Forearms (Wrist)</option>
                                                                      <option value="21">Groin: Inner Thigh</option>
                                                                      <option value="9">Hamstrings</option>
                                                                      <option value="7">Hip Flexors</option>
                                                                      <option value="27">Hip Stabilizers</option>
                                                                      <option value="11">Lats</option>
                                                                      <option value="18">Neck</option>
                                                                      <option value="20">Outer Thigh - Hip</option>
                                                                      <option value="12">Quads</option>
                                                                      <option value="33">Rotator Cuff</option>
                                                                      <option value="13">Serratus Anterior</option>
                                                                      <option value="14">Shoulder: Front</option>
                                                                      <option value="25">Shoulder: Rear</option>
                                                                      <option value="24">Shoulder: Side</option>
                                                                      <option value="30">Trapezius: Lower</option>
                                                                      <option value="29">Trapezius: Middle</option>
                                                                      <option value="28">Trapezius: Upper</option>
                                                                      <option value="17">Triceps</option>
                                                              </select>
              </div>
              <div class="form-group">
                  <select name="category" class="form-control">
                      <option value="">Any Category</option>
                                                                      <option value="9">Balance</option>
                                                                      <option value="8">Core</option>
                                                                      <option value="12">Dynamic Warm-Up</option>
                                                                      <option value="11">Pilates</option>
                                                                      <option value="3">Plyometrics</option>
                                                                      <option value="1">Strength</option>
                                                                      <option value="5">Stretches</option>
                                                                      <option value="10">Yoga</option>

                  </select>
              </div>
              <button type="submit" class="btn btn-default btn-info">Search</button>
          </form>
      </div>
      <div class="col--4 exe-zoom">
          <img id="myImg" class="sample" src="https://i.pinimg.com/originals/eb/8e/cb/eb8ecbc3792ad653a91ee7ba19f8c383.jpg">
      </div>
      <!-- Respnsive -->
      <!-- The Modal -->

  </div>
</div>
